.rbc-calendar {
  background-color: var(--card);

  .rbc-today {
    background-color: var(--destructive-foreground);
  }

  .rbc-day-bg {
    border-color: var(--border);
  }

  .rbc-off-range-bg {
    background: var(--input);
  }

  .rbc-toolbar {
    background-color: var(--calendar-header-bg) !important;
    color: var(--color-foreground);
  }

  .rbc-event {
    background-color: var(--chart-2);
    color: var(--foreground);
    border: none;
    padding: 0.5rem;

    &-content {
      & > button > div > div {
        text-align: left;
      }
    }

    &-label {
      display: none !important;
    }
  }

  .rbc-month-view {
    overflow-y: scroll;
    .rbc-show-more {
      color: var(--accent);
      padding-top: 0.5rem;
      font-weight: 500;
      background-color: transparent;

      &:hover {
        font-weight: 600;
      }
    }
  }

  .rbc-time-view {
    .rbc-timeslot-group {
      min-height: 50px;
    }
  }

  .rbc-month-row {
    min-height: 140px;
    .rbc-row-bg {
      right: 0;
    }
  }

  .rbc-current-time-indicator {
    background-color: var(--accent);
  }
}

.rbc-overlay {
  .rbc-event {
    &[type="popup"] {
      background-color: var(--accent);
      color: var(--foreground);
      margin-top: 0.2rem;
    }
  }
}
